.total_wrap {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.leagues_list {
  display: flex;
  margin: 0 16px;
  list-style-type: none;
  
  .item {
    margin: 10px;
  }

  .btn {
    width: 150px;
    line-height: 100px;
    border-radius: 3px;
    color: #000;
  }
}

.select_league_list {
  display: flex;
  margin: 0 16px;
  list-style-type: none;
  max-width: 300px;
  flex-wrap: nowrap;
  
  .item {
    margin: 10px;
  }

  .btn {
    width: 150px;
    line-height: 100px;
    border-radius: 3px;
    color: #000;
  }
}